.App {
  text-align: center;
  padding: 30px;
}

table {

  margin: 0 auto;
  border-collapse: collapse;
  width: 100%;
}
table td {
  width: 5%;
  border: 1px solid rgb(216, 207, 207);
  text-align: center;
  font-size: 18px;
}

table td:nth-child(6){
  width: 20%
}

table td:nth-child(1){
  width:8%
}

table td:nth-child(2){
  width:10%
}

table td:nth-child(7){
  width:8%
}

table tr td {
  font-size: 16px;
  height: 45px;
}

.logo{
  margin-top: 60px;
  width: 20%;
}

h3 {
  text-align: center;
  flex: 1 1 30%;
}
h3:nth-child(1){
  text-align: left;
}

h3:nth-child(3){
  text-align: right;
}

table tr td button{
  font-weight: bold;
  background: none;
  border: none;
  /* border-bottom: 1px solid; */
  text-decoration: underline;
  cursor: pointer;
}

.appbar{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.appbar div{
  flex: 1 1 30%;
}

.appbar div:nth-child(1){
  text-align: left;
}

.appbar div:nth-child(3){
  text-align: right;
}




.appbar img{
  width: 48px;
}

.state-wrap{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.state-wrap div{
  display: flex;
  align-items: center;
}

.orderinfo-table{
  width: 100%;
}

.orderinfo-table td{
  width: 10%;
}

.orderinfo-table td:nth-child(3){
  width: 25%;
}

.orderinfo-table td:nth-child(4){
  width: 20%;
}

.orderinfo-table td:nth-child(5){
  width: 5%;
}
.orderinfo-table td:nth-child(6){
  width: 8%;
}

.info-acc{
  width: 100%;
  height: 40px;
  border: 1.5px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.info-acc img{
  width: 38px;
}

.info-acc-open{
  width: 100%;
  height: 300px;
  border: 1.5px solid #000000;
  border-radius: 10px;
  margin-bottom: 20px;
}

.info-acc-open-top{
  height: 40px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  border: none;
}

.info-acc-open-top img{
  width: 38px;
  transform: rotate(180deg);
}

.info-acc-table{
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  align-items: center;
}

.info-acc-table table{
  margin-top: 20px;
  flex: 1 1 40%;
  border: none;
}

.info-acc-table table td{
  border: none;
  font-size: 16px;
  height: 40px;
  display: table-cell;
  vertical-align: middle;
}

.info-acc-table table tr{
  border: none;
}

.info-acc-table table tr td{
  border: none;
}

.fourth-td{
  height: 60px;
} 

.save-btn{
  width: 50%;
  height: 50px;
  font-size: 18px;
}

.btn-wrap button{
  margin-left: 20px;
  height: 40px;
  width: 100px;
}

.order-cancel{
  border: red;
  background-color: red;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.openModal {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
